<div class="container">
    <div class="row">
        <div class="col-12"> 
            <div 
            *ngIf="onLoad"
                class="card">
                <div class="card-header">
                    <div 
                    class="card-title">
                        <h2>{{event.nombre  }}</h2>
                    </div>
                </div>
                <div class="card-body">
                    <h3>
                        <app-tapa
                            idEvent={{event.uid}}
                        ></app-tapa>
                    </h3>
                    <div>
                        <img src={{event.img}} alt=""/>
                    </div>
                <div>
            </div>
        </div>
    </div>
</div>
