<div class="container">
    <div class="row">
        <div class="col-12"> 
            <div 
            *ngIf="onLoad"
                class="card">
                <div class="card-header">
                    <div 
                    class="card-title">
                        <h2>{{event.nombre  }}</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <button (click)="confirmarAsistencia()">Confirmar asistencia</button>
                    </div>
                    <div>
                        <div>
                            <h4>Organizador</h4>
                            <img [src]="" alt="organizador"/>
                        </div>
                        
                        <h3>Ubicación</h3>
                        <h4>
                            <span class="m-2">
                                <i class="bi bi-calendar3"></i>
                            </span>
                            {{event.Date| date: 'dd/MM/yyyy'}}
                        </h4>
                    </div>
                    <app-tapa
                        idEvent={{event.uid}}
                    ></app-tapa>

                    <div>
                        <img src={{event.img}} alt=""/>
                    </div>
                <div>
            </div>
        </div>
    </div>
</div>
