<header class="mainHeaderBlock">
        <mat-toolbar class="justify-content-between">
            <button  
                (click)="onHome()"
                class="pointer" 
                routerLink="/" 
                class="nav-link">
                <span class="size"><mat-icon >restaurant</mat-icon></span>
            </button>
            <div class="d-flex justify-content-center">
                <h1 class="tittleStyle">tapasBattle</h1>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div class="d-flex justify-content-center align-items-center ms-1">
                    <div>
                    <img *ngIf="!this.user.img" class="avatar avatarImg" [src]= 'this.url'  />
                    <img *ngIf="this.user.img" class="avatar avatarImg" [src]= 'this.imgUrl+this.user.img'  />
                    </div>
                    <button mat-menu-item
                        routerLinkActive="active"
                                (click)="onUser()">
                        <span>Mi perfil</span>
                    </button>
                </div>
                <button mat-menu-item (click)="onLogOut()">
                  <mat-icon>logout</mat-icon>
                  <span>Salir</span>
                </button>
              </mat-menu>
               
        </mat-toolbar> 
</header>