<header>
    <div class=" py-2 text-bg-dark border-bottom">
        <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-around justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-around my-md-0 text-small mainNavBlock">
                <li>
                    <a routerLink="/" class="nav-link text-white">
                        <i class="bi bi-house-door-fill"></i>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/vote" class="nav-link text-white">
                        <i class="bi bi-piggy-bank"></i>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/user" class="nav-link text-white">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</header>