<div class="container">
    <div class="row">
        <form 
            autocomplete="off"
            [formGroup] = "eventForm"
            (ngSubmit)="updateEvent()"
            class="" 
        > 
        <mat-card class="max-carWidth" *ngIf="onLoad">
            <form action="">
                <mat-card-header class="d-flex flex-row-reverse">
                        <img   
                            [src]="currentUser.getImgUrl" 
                            height="100" 
                            width="100"
                            class="avatar" />
                    <mat-card-title>{{currentUser.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{currentUser.email}}</mat-card-subtitle>
                </mat-card-header>
            </form>
        </mat-card>

        <mat-card *ngIf="onLoad">
            <mat-card-header class="d-flex justify-content-center">
            <mat-card-title class="mat-headline-5">
                Personaliza tu evento
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card-title class="d-flex justify-content-start">
                    <h1 >{{ currentEvent.nombre }}</h1>
                </mat-card-title>
                <mat-card-subtitle class="pb-3">
                    <mat-icon class="material-symbols-outlined">
                    calendar_month
                    </mat-icon>
                    <span class="mr-3">{{currentEvent.fecha | date }}</span>
                </mat-card-subtitle>
            </mat-card-content>
            <mat-card-content>
                <mat-card-content>
                    <img mat-card-image class="img img-fluid imgEvent" mat-card-image [src]="currentEvent.img | imagen:'eventos'">
                </mat-card-content>
                <mat-card-content class="pt-3">
                    <mat-form-field style="width:100%">
                        <mat-label>Selecciona foto</mat-label>
                        <ngx-mat-file-input
                            (change)="cambiarImagen($event)" 
                            formControlName="archivo">
                        </ngx-mat-file-input>
                        <mat-error>Falta el archivo</mat-error>
                        <mat-icon matSuffix>attach_file</mat-icon>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                    <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel class="mat-expansion-panel-bodyCustom">
                        <mat-expansion-panel-header>
                        <mat-panel-description>
                            Selecciona invitados
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-list *ngFor="let user of allUsers">
                                    <div matListItemTitle>{{user.nombre}}</div>
                                    <div matListItemLine>{{user.email}}</div>
                                   
                                <mat-slide-toggle
                                    formControlName="invitados" 
                                    [(ngModel)]="user.uid" 
                                    (change)="toggleChange(user.uid)">
                                </mat-slide-toggle>
                              </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                            </mat-list-item>
                          </mat-list>
                    </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
                <mat-card-actions class="pt-3">
                    <button 
                        class="w-100"
                        color="primary"
                        mat-raised-button
                        type="submit">
                        <mat-icon matSuffix>table_restaurant</mat-icon>Guardar cambios
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        </form>
    </div>
</div>    
