<div class="d-flex flex-column justify-content-center" *ngIf="onLoad">
    <mat-toolbar class="shadow">
        <span>Mi perfil</span>
      </mat-toolbar> 
    <mat-card class="example-card w-100 shadow pt-3">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img
                    class="img-thumbnail"    
                    [src]="currentUser.getImgUrl" 
                    height="100" 
                    width="100" />
      </div>
      <mat-card-title>{{ currentUser.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ currentUser.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="pt-3">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>event</mat-icon>
                        <h3 class="p-0 m-0">Eventos</h3>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div 
                    *ngFor="let event of eventsByUserId">
                        <mat-card-content class="d-flex flex-row justify-content-between">
                            {{event.nombre}}
                            <button color="primary" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                              </button> 
                              <a routerLink="/dashboard/event-details/{{event.uid}}"><mat-icon>search</mat-icon></a>  
                        </mat-card-content>    
                </div>
                </mat-expansion-panel>
            </mat-accordion>
    </mat-card-content>
    <mat-card-content class="pt-3">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>event</mat-icon>
                    <h3 class="p-0 m-0">Recetas</h3>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div 
                *ngFor="let event of eventsByUserId">
                    <mat-card-content class="d-flex flex-row justify-content-between">
                        {{event.nombre}}
                        <mat-icon matSuffix>ramen_dining</mat-icon>
                    </mat-card-content>    
            </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
    <mat-card-content class="pt-3">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>event</mat-icon>
                    <h3 class="p-0 m-0">Premios</h3>
                </mat-panel-title>
            </mat-expansion-panel-header> 
                <div *ngFor="let event of eventsByUserId">
                    <mat-card-content class="d-flex flex-row justify-content-between">
                        {{event.nombre}}
                        <mat-icon matSuffix>emoji_events</mat-icon>
                    </mat-card-content>    
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
        <button     
            routerLink="account-settings"
            color="primary"
            mat-raised-button
            type="button" 
            class="w-100">
            <mat-icon matSuffix>edit</mat-icon>
        </button>
    </mat-card-actions>
    </mat-card>
</div>

  

