<div class="row">
    <div class="col">
        <div class="p-3" *ngFor="let item of events">
            <div class="card" style="width:100%">
                <div class="card-body">
                <h4 class="card-title">{{ item.nombre }}</h4>
                <p class="card-text">
                    Próximo concurso de tapas
                </p>
                <p class="card-text">
                    Fecha:{{item.fecha | date:"shortDate"}}
                </p>
                <a routerLink="event/{{item.uid}}" class="btn btn-primary">Ver detalles</a>
                </div>
                <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image" style="width:100%">
            </div>
        </div>
    </div>
</div>
