<div class="row">
    <div class="col m-2 d-flex justify-content-end">
        <button 
                mat-fab
                color="primary" 
                (click)="createEvent()">
                <mat-icon>add_cicle</mat-icon>
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="dispay-2">Próximos eventos</h2>
        <div class="p-3" *ngFor="let item of events">
            <mat-grid-list cols="1" rowHeight="2:1">
                <mat-grid-tile>
                    <mat-card class="d-flex">
                        <div class="d-flex justify-content-between">
                            <mat-card-header class="d-flex flex-row-reverse justify-content-between">
                                <div>
                                    <mat-card-title>{{item.nombre}}</mat-card-title>
                                    <mat-card-subtitle>{{item.fecha | date:'dd/MM/yyyy'}}</mat-card-subtitle>
                                </div>
                            </mat-card-header>
                            <mat-card-actions>
                                <button mat-fab (click)="onrouter(item.uid)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                                </button>   
                            </mat-card-actions>
                        </div>
                        <mat-card-content>
                            <img class="img-fluid rounded mx-auto d-block imgStyle" mat-card-image [src]="item.img |imagen:'eventos'">
                        </mat-card-content>
                      </mat-card>
                </mat-grid-tile>
              </mat-grid-list> 
        </div>
    </div>
</div>
